body, div, a {
    font-family: 'Droid Sans', sans-serif;
    font-size: xx-large;
    cursor: none;
}
body { background: #111; overflow: hidden; }
a.item { display: block; padding: 0.2em; }
a.item:link,
a.item:active,
a.item:hover,
a.item:visited,
a.item:focus {
    text-decoration: none;
    outline: none;
    vertical-align: middle;
}
a.item img { vertical-align: middle; height: 1.8em; }
a.item span { vertical-align: middle; }
div#menu {
    display: none;
    position: absolute;
    right: 0px;
    top: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), to(#000));
    color: #ddd;
    -webkit-border-top-left-radius: 10px;
            border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
            border-bottom-left-radius: 10px;
    width: 20em;
    padding: 0.6em;
    line-height: 1.6em;
}
