/* general */
a:link,
a:active,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    outline: none;
    vertical-align: middle;
    display: block;
    padding: 0.2em;
}
* {
    font-family: 'Droid Sans', sans-serif;
    font-size: xx-large;
    cursor: none;
}
body { background: #111; overflow: hidden; }

/* file listing */
a.item img { vertical-align: middle; height: 1.8em; }
a.item span { vertical-align: middle; }

/* side menu */
div#menu {
    display: none;
    position: fixed;
    right: 0px;
    top: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#000));
    color: #ddd;
    -webkit-border-top-left-radius: 10px;
            border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
            border-bottom-left-radius: 10px;
    width: 12em;
    padding: 0.1em 1em 0.1em 1em;
    line-height: 1.6em;
}
div#menu ul { padding-left: 0px; }
div#menu li {
    list-style: none;
    /* to match thickness of jquery's border when focused */
    border: 1px solid transparent;
}
div#menu a:link,
div#menu a:active,
div#menu a:hover,
div#menu a:visited,
div#menu a:focus {
    color: #ddd;
    font-weight: bold;
}
